.link line {
    stroke: #999;
    stroke-opacity: 0.6;
}

text {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 700;
}

#main {
    background-color: #353535;
    color: azure;
}

#viz {
    /* resize: horizontal; */
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}